body {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.cont {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.title-container {
    margin: auto;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question-container {
    display: none;
}

.btn {
    width: 300px;
    margin: 10px;
}

.score-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 5%;
    display: none;
}

.result-container {
    display: none;
}

#result-img {
    width: 50%;
}

#type {
    display: none;
}