@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300;600&display=swap');

* {
    font-family: 'Noto Serif KR', serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.cont {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.title-container {

    margin-left: 3vw;
    margin-right: 3vw;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.question-container {
  display: none;
  background-color: none;
  text-align: left;
  padding: 39px;
  margin-left: 5vw;
  margin-right: 5vw;
}

.btn {
  width: 100%;
  height: 15%;
  margin: 10px;
  font-size: 20px;
  text-align: left;
  padding-left: 17px;
  background-color: whitesmoke;
  border: 0px;
  border-radius: 10px;
}

.score-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 5%;
  display: none;
}

.result-container {

    display: none;
    background-color: whitesmoke;

}

#result-img {
  width: 50%;
}

#type {

    display: none;
}

#startBtn {
    border-radius: 12px;
    background-color: rgb(158, 216, 252);
    border-width: 0px;
    width: 430px; 
    height: 60px;
    text-align: center;
}


.progress .progress-bar {
  border-radius: 10px;
  background-color: lightblue;
}

#question {
  font-weight: bold;
  color: lightblue;
}

#qNum {
  text-align: right;
}

#body {
  font-weight: bold;
  font-size: 32px;
}

